<% set_meta_tags title: t("wpcc.meta.title") %>

<% content_for(:page_name, 'workplace-pension-contribution-calculator') %>
<% content_for(:page_title, 'Workplace pension contribution calculator') %>
<% content_for(:tool_name, 'Workplace Pension Contribution Calculator') %>
<% content_for(:tool_step, '1') %>
<% content_for(:step_name, 'Your details') %>

<section class="section section--details details" data-dough-component="ConditionalMessaging">
  <%= form_for(
    @your_details_form,
    builder: Wpcc::Builder,
    url: your_details_path,
    html: {
      'data-dough-component': "Validation",
      'data-dough-validation-config': '{"showValidationSummary": false}',
      'novalidate': true
    }) do |f| %>
    <h2 class="section__heading details__heading">1. <%= t('wpcc.details.title') %></h2>
    <div class="details__content">
      <div class="details__row">
        <div class="details__error-summary">
          <%= f.errors_summary %>
        </div>
      </div>
      <div class="details__row" data-dough-component="PopupTip">
        <div class="details__field">
          <%= f.form_row :age do %>
            <div class="details__field-label">
              <%= f.label :age, t('wpcc.details.age.label'), class: 'form__label-heading' %>
              <%= popup_tip_trigger options: {
                text: t('wpcc.tooltip_show')
              } %>
            </div>
            <%= f.errors_for :age %>
            <%= f.text_field :age,
              'data-wpcc-age-field': true,
              required: true,
              'data-dough-validation-empty': t('wpcc.details.age.validation')
            %>
          <% end %>
        </div>
        <%= popup_tip_content options: {
          text: t('wpcc.details.age.tooltip'),
          classname: 'details__helper',
          tooltip_hide: t('wpcc.tooltip_hide')
        } %>
      </div>
      <div class="details__row">
        <div class="details__callouts">
          <div class="form__row details__callout details__callout--inactive" data-wpcc-callout-lt16>
            <div class="callout">
              <p><%= t('wpcc.details.callout__lt16') %></p>
            </div>
          </div>
          <div class="form__row details__callout details__callout--inactive" data-wpcc-callout-optIn>
            <div class="callout">
              <p><%= t('wpcc.details.callout__optIn') %></p>
            </div>
          </div>
          <div class="form__row details__callout details__callout--inactive" data-wpcc-callout-gt74>
            <div class="callout">
              <p><%= t('wpcc.details.callout__gt74') %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="details__row" data-dough-component="SalaryConditions" data-dough-salary-conditions-config="<%= ::Wpcc::MessagePresenter.opt_in_thresholds %>">
        <div data-dough-component="PopupTip">
          <div class="details__field">
            <%= f.form_row :salary do %>
              <div class="details__field-label">
                <%= f.label :salary, t('wpcc.details.salary.label'), class: 'form__label-heading' %>
                <%= popup_tip_trigger options: {
                  text: t('wpcc.tooltip_show')
                } %>
              </div>
              <%= f.errors_for :salary %>
              <%= f.errors_for :salary_frequency %>
              <div class="details__salary">
                <div class="details__salary-amount">
                <%= f.text_field :salary,
                  required: true,
                  'data-dough-validation-empty': t('wpcc.details.salary.validation'),
                  'data-wpcc-salary-input': true
                %>
                </div>
                <div class="details__salary-frequency">
                  <%= f.label :salary_frequency, t('wpcc.details.salary.frequency.label'), class: 'form__label-heading details__field-label visually-hidden' %>
                  <%= f.select(:salary_frequency, options_for_select(@your_details_form.salary_frequency_options, @your_details_form.salary_frequency), {}, {'data-wpcc-frequency-select': true}) %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="details__callouts">
            <div class="form__row details__callout details__callout--inactive" data-wpcc-callout-below-lower-threshold>
              <div class="callout">
                <p><%= t('wpcc.details.callout__below_lower_threshold') %></p>
              </div>
            </div>
            <div class="form__row details__callout details__callout--inactive" data-wpcc-callout-btwn-lower-and-auto-enrol-threshold>
              <div class="callout">
                <p><%= t('wpcc.details.callout__btwn_lower_and_auto_enrol_threshold') %></p>
              </div>
            </div>
            <div class="form__row details__callout details__callout--inactive" data-wpcc-callout-near_pension_threshold>
              <div class="callout callout--warning">
                <p><%= t('wpcc.details.near_pension_limit_message_html') %></p>
              </div>
            </div>
            <div class="form__row details__callout details__callout--inactive" data-wpcc-callout-near_auto_enrollment_threshold>
              <div class="callout callout--warning">
                <p><%= t('wpcc.details.near_manual_opt_in_limit_message_html') %></p>
              </div>
            </div>
          </div>
          <%= popup_tip_content options: {
            text: t('wpcc.details.salary.tooltip_html'),
            classname: 'details__helper',
            tooltip_hide: t('wpcc.tooltip_hide')
          } %>
        </div>
        <div class="details__row--group" data-dough-component="PopupTip">
          <fieldset>
            <legend class="details__calculate-heading"><%= t('wpcc.details.calculate.legend') %></legend>
            <p class="details__calculate-intro">
              <%= t('wpcc.details.calculate.details_html_1') %>
              <%= popup_tip_trigger options: {
                text: t('wpcc.tooltip_show')
              } %>
              <%= t('wpcc.details.calculate.details_html_2') %>
            </p>
            <%= popup_tip_content options: {
              title: t('wpcc.tooltip_qualifying_earnings.title'),
              text: t('wpcc.tooltip_qualifying_earnings.text',
                formatted_upper_earnings: @your_details_form.formatted_upper_earnings,
                formatted_lower_earnings: @your_details_form.formatted_lower_earnings
              ),
              classname: 'details__helper details__helper--block',
              tooltip_hide: t('wpcc.tooltip_hide')
            } %>
            <div class="details__callouts">
              <div class="form__row details__callout <%= @your_details_form.activate_disabled_callout %>" data-wpcc-callout-below-part-contributions-threshold>
                <div class="callout">
                  <p><%= t('wpcc.details.callout__below_part_contributions_threshold') %></p>
                </div>
              </div>
            </div>
            <div>
              <%= f.form_row :contribution_preference do %>
                <%= f.errors_for :contribution_preference %>
                <div class="form__group-item details__calculate-item">
                  <%= f.radio_button(:contribution_preference, 'minimum', class: 'details__calculate-item-select', 'data-wpcc-employer-part-radio': true) %>
                  <%= f.label(:contribution_preference_minimum, t('wpcc.details.options.contribution_preference.minimum'), class: 'details__calculate-item-label') %>
                </div>
                <div class="form__group-item details__calculate-item">
                  <%= f.radio_button(:contribution_preference, 'full', class: 'details__calculate-item-select', 'data-wpcc-employer-full-radio': true) %>
                  <%= f.label(:contribution_preference_full, t('wpcc.details.options.contribution_preference.full'), class: 'details__calculate-item-label') %>
                </div>
              <% end %>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="details__row">
        <div class="details__field">
          <div class="form__row">
            <%= f.submit(t('wpcc.details.next'), class: 'button button--primary', 'data-wpcc-submit': true) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
