<div data-dough-component="StepTransition">

<section class="section section--details details" data-dough-component="ConditionalMessaging">
  <h2 class="section__heading details__heading">1. <%= t('wpcc.details.title') %></h2>
  <%= form_for(
    @your_details_form,
    url: your_details_path,
    html: {
      'data-dough-component': "Validation",
      'data-dough-validation-config': '{"showValidationSummary": false}',
      'novalidate': true,
      'data-dough-details-form': "true",
      'class': 'form form--active'
    }) do |f| %>
    
    <div class="details__content">
      <div class="details__row" data-dough-component="PopupTip">
        <div class="details__field">
          <div class="details__field-label">
            <%= f.label :age, t('wpcc.details.age.label'), class: 'form__label-heading' %>
            <%= render 'wpcc/tooltips/trigger' %>
          </div>
          <div class="form__row">
            <%= f.text_field :age,
              'data-dough-age-field': true,
              required: true,
              'data-dough-validation-empty': t('wpcc.details.age.validation')
            %>
          </div>
        </div>
        <div data-dough-popup-container class="popup-tip__container details__helper">
          <p data-dough-popup-content class="popup-tip__content">
            <%= t('wpcc.details.age.tooltip') %>
          </p>
          <%= render 'wpcc/tooltips/close' %>
        </div>
      </div>
      <div class="details__row" data-dough-component="PopupTip">
        <div class="details__field">
          <div class="details__field-label">
            <%= f.label :gender, t('wpcc.details.gender.label'), class: 'form__label-heading' %>
            <%= render 'wpcc/tooltips/trigger' %>
          </div>
          <div class="form__row">
            <%= f.select :gender,
              options_for_select(@your_details_form.gender_options, @your_details_form.gender),
              {prompt: t('wpcc.details.prompt')},
              'data-dough-gender-select': true,
              required: true,
              'data-dough-validation-empty': t('wpcc.details.gender.validation')
            %>
          </div>
        </div>
        <div data-dough-popup-container class="popup-tip__container details__helper">
          <p data-dough-popup-content class="popup-tip__content"><%= t('wpcc.details.gender.tooltip') %></p>
          <%= render 'wpcc/tooltips/close' %>
        </div>
      </div>
      <div class="details__row">
        <div class="details__callouts">
          <div class="form__row details__callout details__callout--inactive" data-dough-callout-lt16>
            <div class="callout">
              <p><%= t('wpcc.details.callout__lt16') %></p>
            </div>
          </div>
          <div class="form__row details__callout details__callout--inactive" data-dough-callout-optIn>
            <div class="callout">
              <p><%= t('wpcc.details.callout__optIn') %></p>
            </div>
          </div>
          <div class="form__row details__callout details__callout--inactive" data-dough-callout-gt74>
            <div class="callout">
              <p><%= t('wpcc.details.callout__gt74') %></p>
            </div>
          </div>
        </div>
      </div>
      <div data-dough-component="SalaryConditions">
        <div class="details__row" data-dough-component="PopupTip">
          <div class="details__field">
            <div class="form__row details__salary">
              <div class="details__field-label">
                <%= f.label :salary, t('wpcc.details.salary.label'), class: 'form__label-heading' %>
                <%= render 'wpcc/tooltips/trigger' %>
              </div>
              <div class="details__salary-amount">
              <%= f.text_field :salary,
                required: true,
                'data-dough-validation-empty': t('wpcc.details.salary.validation'),
                'data-dough-salary-input': true
              %>
              </div>
              <div class="details__salary-frequency">
                <%= f.label :salary_frequency, t('wpcc.details.salary.frequency.label'), class: 'form__label-heading details__field-label visually-hidden' %>

                <%= f.select(:salary_frequency, options_for_select(@your_details_form.salary_frequency_options, @salary_frequency), {}, {'data-dough-frequency-select': true}) %>
              </div>
            </div>
          </div>
          <div data-dough-popup-container class="popup-tip__container details__helper">
            <p data-dough-popup-content class="popup-tip__content"><%= t('wpcc.details.salary.tooltip') %></p>
            <%= render 'wpcc/tooltips/close' %>
          </div>
          <div class="details__callouts">
            <div class="form__row details__callout details__callout--inactive" data-dough-callout-lt5876>
              <div class="callout">
                <p><%= t('wpcc.details.callout__lt5876') %></p>
              </div>
            </div>
            <div class="form__row details__callout details__callout--inactive" data-dough-callout-gt5876_lt10000>
              <div class="callout">
                <p><%= t('wpcc.details.callout__gt5876_lt10000') %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="details__row" data-dough-component="PopupTip">
          <div class="form__row">
            <fieldset>
              <legend class="details__calculate-heading"><%= t('wpcc.details.calculate.legend') %></legend>
              <p class="details__calculate-intro">
                <%= t('wpcc.details.calculate.details_html_1') %>
                <%= render 'wpcc/tooltips/trigger' %>
                <%= t('wpcc.details.calculate.details_html_2') %>
              </p>

              <div data-dough-popup-container 
                   class="popup-tip__container details__helper details__helper--block">
                <p data-dough-popup-content class="popup-tip__content">
                  <span class="details__helper-title--no-js">
                    <%= t('wpcc.details.calculate.qualifying_earnings_title') %>:
                  </span>
                  <%= t('wpcc.details.calculate.qualifying_earnings') %>
                </p>
                <%= render 'wpcc/tooltips/close' %>
              </div>

              <div class="details__callouts">
                <div class="form__row details__callout <%= @your_details_form.activate_disabled_callout %>" data-dough-callout-radio-disabled>
                  <div class="callout">
                    <p><%= t('wpcc.details.callout__radiodisabled') %></p>
                  </div>
                </div>
              </div>
              <div class="form__group-item details__calculate-item <%= @your_details_form.error_class('contribution_preference') %>">
                <%= f.radio_button(:contribution_preference, 'minimum', class: 'details__calculate-item-select', 'data-dough-employer-part-radio': true) %>
                <%= f.label(:contribution_preference_minimum, t('wpcc.details.options.contribution_preference.minimum'), class: 'details__calculate-item-label') %>
              </div>
              <div class="form__group-item details__calculate-item">
                <%= f.radio_button(:contribution_preference, 'full', class: 'details__calculate-item-select', 'data-dough-employer-full-radio': true) %>
                <%= f.label(:contribution_preference_full, t('wpcc.details.options.contribution_preference.full'), class: 'details__calculate-item-label') %>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="details__row">
        <div class="details__field">
          <div class="form__row">
            <%= f.submit(t('wpcc.details.next'), class: 'button button--primary', 'data-dough-submit': true) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>

</div>
