<div class="results__row">
  <div class="results__period results__period-<%= schedule.name %>" data-dough-component="PopupTip" data-wpcc-results-table>
    <p class="results__period-heading" data-wpcc-period-heading-yours>
      <%= t('wpcc.results.period.contribution_heading.yours_html', salary_frequency: salary_frequency.to_adj) %>
    </p>

    <p class="results__period-details results__period-employee-contribution" data-wpcc-employee-contribution data-value="<%= schedule.employee_contribution %>">
      <%= schedule.formatted_employee_contribution %>
    </p>
    <p class="results__period-parenthesis" data-wpcc-tax-relief data-value="<%= schedule.tax_relief %>">
      <span data-wpcc-tax-relief-text class="results__period-tax-relief">
        <%= schedule.formatted_tax_relief %>
      </span>
      <%= popup_tip_trigger options: {
        text: t('wpcc.tooltip_show')
      } %>
    </p>
    <%= popup_tip_content options: {
      text: t('wpcc.results.tax_relief_tooltip_html'),
      classname: 'results__helper',
      tooltip_hide: t('wpcc.tooltip_hide')
    } %>
    <p class="results__period-heading" data-wpcc-period-heading-employers>
      <%= schedule.employer_frequency_heading(salary_frequency).html_safe %>
    </p>

    <p class="results__period-details results__period-employer-contribution" data-wpcc-employer-contribution data-value="<%= schedule.employer_contribution %>">
      <%= schedule.formatted_employer_contribution %>
    </p>

    <p class="results__period-heading" data-wpcc-period-heading-total>
      <%= t('wpcc.results.period.contribution_heading.total_html', salary_frequency: salary_frequency.to_adj) %>
    </p>

    <p class="results__period-details results__period-total-contributions" data-wpcc-total>
      <%= schedule.formatted_total_contributions %>
    </p>
  </div>
</div>
