<%= render 'wpcc/shared/your_details', message_presenter: @message_presenter %>

<section class="section section--contributions">
  <h2 class="section__heading contributions__heading">2. <%= t('wpcc.contributions.title') %>
    <span class="section__heading-summary">You: <%= session[:employee_percent] %>%, Your employer: <%= session[:employer_percent] %>%</span>
    <span><%= link_to(t('wpcc.edit'), new_your_contribution_path, class: 'section__heading-edit') %></span>
  </h2>
</section>

<section class="section section--results">
  <h2 class="section__heading results__heading">3. <%= t('wpcc.results.title') %></h2>

  <div class="results__content" data-dough-component="UpdateResults">
    <p><%= t('wpcc.results.description', eligible_salary: session[:eligible_salary]) %></p>

    <% if @message_presenter.tax_relief_warning? %>
      <div class="callout">
        <p><%= @message_presenter.tax_relief_warning %></p>
      </div>
    <% end %>

    <%= render 'frequency_selector_form', salary_frequency: salary_frequency %>

    <div class="results__row">
      <% @schedule.each do |period| %>
        <div class="results__period results__period-<%= period.name %>" data-dough-component="PopupTip" data-dough-results-table>
          <h3 class="results__period-title"><%= period.title %></h3>

          <p class="results__period-heading"><%= t('wpcc.results.period.contribution_heading.yours') %></p>
          <p class="results__period-details results__period-employee-contribution" data-dough-employee-contribution data-value="<%= period.employee_contribution %>">
            <%= period.formatted_employee_contribution %>
          </p>
          <p class="results__period-parenthesis results__period-tax-relief" >
            <span class="results__period-tax-relief" data-dough-tax-relief data-value="<%= period.tax_relief %>">
              <%= period.formatted_tax_relief %>
            </span>
            <%= render 'wpcc/tooltips/trigger' %>
          </p>
          <div data-dough-popup-container class="popup-tip__container">
            <p data-dough-popup-content class="popup-tip__content results__helper">
              <%= t('wpcc.results.tax_relief_tooltip_html') %>
            </p>
            <%= render 'wpcc/tooltips/close' %>
          </div>

          <p class="results__period-heading"><%= t('wpcc.results.period.contribution_heading.employers') %></p>
          <p class="results__period-details results__period-employer-contribution" data-dough-employer-contribution data-value="<%= period.employer_contribution %>">
            <%= period.formatted_employer_contribution %>
          </p>

          <p class="results__period-heading"><%= t('wpcc.results.period.contribution_heading.total') %></p>
          <p class="results__period-details results__period-total-contributions" data-dough-total>
            <%= period.formatted_total_contributions %>
          </p>
          <p class="results__period-parenthesis" data-dough-tax-relief data-value="<%= period.tax_relief %>">
            <%= period.tax_relief %>
          </p>
        </div>
      <% end %>
    </div>

    <p><a href="#" data-dough-component="Print"><%= t('wpcc.results.print_link') %></a></p>
    <p><a href="#"><%= t('wpcc.results.contribution_table_link') %></a></p>
  </div>

  <div class="next-steps">
    <h4 class="next-steps__heading"><%= t('wpcc.results.next_steps.heading') %></h4>
    <ol class="next-steps__list">
      <li><%= t('wpcc.results.next_steps.list.pension_calculator_html') %></li>
      <li><%= t('wpcc.results.next_steps.list.workplace_pensions_html') %></li>
      <li><%= t('wpcc.results.next_steps.list.budget_planner_html') %></li>
    </ol>
  </div>
</section>
