<h2>3. Your Results</h2>
<p>
  <%= t('wpcc.results.description', eligible_salary: session[:eligible_salary]) %>
</p>
<table class="results">
  <thead>
    <tr>
      <% @schedule.each do |period| %>
        <td><h4><%= period.name %></h4></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @schedule.each do |period| %>
        <td><b>Your contribution:
          <span><%= period.employee_contribution %></span></b>
          <div>(includes tax relief of <%= period.tax_relief %>)</div>
        </td>
      <% end %>
    </tr>
    <tr>
      <% @schedule.each do |period| %>
        <td><b>Employer's contribution: 
          <span><%= period.employer_contribution %></span></b>
        </td>
      <% end %>
    </tr>
    <tr>
      <% @schedule.each do |period| %>
        <td><b>Total contributions: 
          <span><%= period.total_contributions %></span></b>
          <div>(includes tax relief of <%= period.tax_relief %>)</div>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
