<h2>3. Your Results</h2>
<p>
  <%= t('wpcc.results.description', eligible_salary: session[:eligible_salary]) %>
</p>
<table>
  <% @schedule.each do |period| %>
    <thead>
      <tr>
        <td><%= period.name %></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Your contribution
          <div><%= period.employee_contribution %></div>
          <div>(includes <%= period.tax_relief %> )</div>
        </td>
      </tr>
      <tr>
        <td>Employer's contribution
          <div><%= period.employer_contribution %></div>
        </td>
      </tr>
      <tr>
        <td>Total contributions
          <div><%= period.total_contributions %></div>
          <div>(includes <%= period.tax_relief %> )</div>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
