<%= render 'wpcc/shared/your_details', message_presenter: @message_presenter %>

<section class="section section--contributions">
  <h2 class="section__heading contributions__heading">2. <%= t('wpcc.contributions.title') %>
    <span class="section__heading-summary">
      (You: <%= session[:employee_percent] %>%, Your employer: <%= session[:employer_percent] %>%)
    </span>
    <span>
      <%= link_to(t('wpcc.edit'), new_your_contribution_path, class: 'section__heading-edit') %>
    </span>
  </h2>
</section>

<section class="section section--results">
  <h2 class="section__heading results__heading">3. <%= t('wpcc.results.title') %></h2>

  <div class="results__content">
    <p><%= t('wpcc.results.description', eligible_salary: session[:eligible_salary]) %></p>

    <%= render 'frequency_selector_form', salary_frequency: @salary_frequency %>

    <div class="results__row">
      <% @schedule.each do |period| %>
        <div class="results__period results__period-<%= period.name %>">
          <h3 class="results__period-title"><%= period.title %></h3>

          <p class="results__period-heading"><%= t('wpcc.results.period.contribution_heading.yours') %></p>
          <p class="results__period-details results__period-employee-contribution">
            <%= period.employee_contribution %>
          </p>
          <p class="results__period-parenthesis results__period-tax-relief">
            <%= period.tax_relief %>
          </p>

          <p class="results__period-heading"><%= t('wpcc.results.period.contribution_heading.employers') %></p>
          <p class="results__period-details results__period-employer-contribution">
            <%= period.employer_contribution %>
          </p>

          <p class="results__period-heading"><%= t('wpcc.results.period.contribution_heading.total') %></p>
          <p class="results__period-details results__period-total-contributions">
            <%= period.total_contributions %>
          </p>
          <p class="results__period-parenthesis">
            <%= period.tax_relief %>
          </p>
        </div>
      <% end %>
    </div>

    <% if earning_below_tax_relief_threshold?(session[:salary], session[:salary_frequency]) %>
      <div class="callout">
        <p>
          <%= t('wpcc.results.tax_relief_warning_html') %>
        </p>
      </div>
    <% end %>

    <p><a href="#"><%= t('wpcc.results.contribution_table_link') %></a></p>
  </div>

  <div class="next-steps">
    <h4 class="next-steps__heading"><%= t('wpcc.results.next_steps.heading') %></h4>
    <ol class="next-steps__list">
      <li><%= t('wpcc.results.next_steps.list.pension_calculator_html') %></li>
      <li><%= t('wpcc.results.next_steps.list.workplace_pensions_html') %></li>
      <li><%= t('wpcc.results.next_steps.list.budget_planner_html') %></li>
    </ol>
  </div>
</section>
