<%= render 'wpcc/shared/your_details' %>

<section class="section section--contributions">
  <h2 class="section__heading contributions__heading">2. <%= t('wpcc.contributions.title') %>
    <span class="section__heading-summary">
      <%= t('wpcc.results.contribution_changes.you') %>: 
      <%= session[:employee_percent] %>%, 
      <%= t('wpcc.results.contribution_changes.employer') %>: <%= session[:employer_percent] %>%
    </span>
    <span>
      <%= link_to(t('wpcc.edit'), new_your_contribution_path, class: 'section__heading-edit') %>
    </span>
  </h2>
</section>

<section class="section section--results">
  <h2 class="section__heading results__heading">3. <%= t('wpcc.results.title') %></h2>

  <div
    class="results__content"
    data-dough-component="UpdateResults"
    data-dough-update-results-config='{"i18nStrings": {"parentheses": "<%= t('wpcc.results.period.tax_relief_parentheses') %>"}}'
  >
    <p>
      <%= t('wpcc.results.description', eligible_salary: message_presenter.formatted_currency(session[:eligible_salary], precision: 0)) %>
      <%= period_filter_presenter.contribution_percents_explanation %>
    </p>

    <% if message_presenter.tax_relief_warning? %>
      <div class="callout">
        <p><%= message_presenter.tax_relief_warning %></p>
      </div>
    <% end %>

    <%= render 'frequency_selector_form' %>
    <%= render 'contributions_table'%>
    <%= render 'period_percents_table' %>

    <p><a href="#" data-dough-component="Print"><%= t('wpcc.results.print_link') %></a></p>
  </div>

  <div class="next-steps">
    <h4 class="next-steps__heading"><%= t('wpcc.results.next_steps.heading') %></h4>
    <ol class="next-steps__list">
      <li><%= t('wpcc.results.next_steps.list.pension_calculator_html') %></li>
      <li><%= t('wpcc.results.next_steps.list.workplace_pensions_html') %></li>
      <li><%= t('wpcc.results.next_steps.list.budget_planner_html') %></li>
    </ol>
  </div>
</section>
