<% set_meta_tags title: [t("wpcc.meta.title"), t("wpcc.results.title")],
                 reverse: true %>

<%= render 'wpcc/shared/your_details' %>
<%= render 'wpcc/shared/your_contributions', message_presenter: message_presenter %>
<section class="section section--results">
  <h2 class="section__heading results__heading">3. <%= t('wpcc.results.title') %></h2>

  <div class="results__content" data-dough-component="UpdateResults">
    <div data-dough-component="PopupTip">
      <p>
        <% if message_presenter.minimum_contribution? %>
          <% tooltip_trigger_html = popup_tip_trigger options: {
            text: t('wpcc.tooltip_show'),
            classname: 't-qualifying-earnings'
          } %>
          <%= your_results_presenter.earnings_description({ tooltip_html: raw(tooltip_trigger_html) }) %>
        <% else %>
          <%= your_results_presenter.earnings_description.html_safe %>
        <% end %>
      </p>
      <%= popup_tip_content options: {
        title: t('wpcc.tooltip_qualifying_earnings.title'),
        text: t('wpcc.tooltip_qualifying_earnings.text',
          formatted_upper_earnings: message_presenter.formatted_upper_earnings,
          formatted_lower_earnings: message_presenter.formatted_lower_earnings),
        classname: 'results__helper',
        tooltip_hide: t('wpcc.tooltip_hide')
      } %>
    </div>

    <% if message_presenter.tax_relief_warning? %>
      <div class="callout">
        <p><%= message_presenter.tax_relief_warning %></p>
      </div>
    <% end %>

    <%= render 'frequency_selector_form' %>
    <%= render 'contributions_table'%>

    <p><a href="#" data-dough-component="Print"><%= t('wpcc.results.print_link') %></a></p>
    <p><a href="mailto:?body=" data-wpcc-email-link><%= t('wpcc.results.email_link') %></a></p>
    <p><%= link_to(t('wpcc.results.reset_calculator'), your_detail_path(session), method: :delete) %></p>
  </div>

  <div class="next-steps">
    <h4 class="next-steps__heading"><%= t('wpcc.results.next_steps.heading') %></h4>
    <ol class="next-steps__list">
      <li><%= t('wpcc.results.next_steps.list.pension_calculator_html') %></li>
      <li><%= t('wpcc.results.next_steps.list.workplace_pensions_html') %></li>
      <li><%= t('wpcc.results.next_steps.list.budget_planner_html') %></li>
    </ol>
  </div>
</section>
