<% set_meta_tags description: t("wpcc.meta.description"),
                 canonical:   t("wpcc.meta.canonical_url") %>

<% content_for(:head) do %>
  <title>Wpcc</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "wpcc/application", media: "all" %>
  <%= stylesheet_link_tag    "wpcc/print", media: "print" %>
  <%= javascript_include_tag "wpcc/application" %>
  <%= csrf_meta_tags %>
<% end %>

<% content_for(:engine_content) do %>
  <div class="l-constrained" data-engine="wpcc">
    <div class="l-container-tool">
      <div class="wpcc">
        <%= render 'wpcc/shared/beta_warning' %>
        <h1><%= t('wpcc.title') %></h1>
        <main
          data-dough-component="Email"
          data-dough-email-config='{
            "i18nStrings": {
              "detailsHeading": "<%= t('wpcc.details.title') %>",
              "contributionsHeading": "<%= t('wpcc.contributions.title') %>",
              "resultsHeading": "<%= t('wpcc.results.title') %>",
              "qualifyingEarningsHeading": "<%= t('wpcc.tooltip_qualifying_earnings.title') %>"
            }
          }'
        >
          <p class="wpcc__intro"><%= t('wpcc.intro') %></p>
          <%= yield %>
        </main>
      </div>
    </div>
  </div>
<% end %>

<%= render template: parent_template %>
