<% content_for(:head) do %>
  <title>Wpcc</title>
  <%= stylesheet_link_tag    "wpcc/application", media: "all" %>
  <%= javascript_include_tag "wpcc/application" %>
  <%= csrf_meta_tags %>
<% end %>

<% content_for(:engine_content) do %>
    <h1><%= t('wpcc.title') %></h1>
    <div class="wpcc">
      <main>
        <p><%= t('wpcc.intro') %></p>
        <%= yield %>
      </main>
    </div>
<% end %>

<%= render template: parent_template %>
