<% content_for(:head) do %>
  <title>Wpcc</title>
  <%= stylesheet_link_tag    "wpcc/application", media: "all" %>
  <%= javascript_include_tag "wpcc/application" %>
  <%= csrf_meta_tags %>
<% end %>

<% content_for(:engine_content) do %>
  <%= yield %>
<% end %>

<%= render template: parent_template %>
