<section class="section section--details details">
  <div class="details__row">
    <h2 class="section__heading details__heading">1. <%= t('wpcc.details.title') %>
      <span class="section__heading-summary">(<%= session[:age] %> years, 
        <%= session[:gender] %>,
        £<%= session[:salary] %> <%= session[:salary_frequency] %>, 
        <%= session[:contribution_preference] %> Contribution)
      </span>
    </h2>
  </div>
</section>

<%= form_for(:your_details_form, remote: true) do |f| %>
  <section class="details">
    <h2 class="details__heading"><%= t('wpcc.details.title') %></h2>
    <div class="form__row">
       <div class="details__field">
         <%= f.label :age, t('wpcc.details.age.label'), class: 'form__label-heading' %>
         <%= f.text_field :age %>
       </div>

       <div class="details__helper">
          <div class="field-help-text">
            <p><%= t('wpcc.details.age.tooltip') %></p>
          </div>
       </div>
    </div>

    <div class="form__row">
      <div class="details__field">
        <div class="form__row">
          <%= f.label :gender, t('wpcc.details.gender.label'), class: 'form__label-heading' %>
          <%= f.select :gender, options_for_select(Wpcc::YourDetailsForm::GENDERS), {prompt: t('wpcc.details.prompt')} %>
        </div>
      </div>

      <div class="details__helper">
        <p><%= t('wpcc.details.gender.tooltip') %></p>
      </div>
    </div>

    <div class="details__row">
      <div class="details__field">
        <div class="form__row">
          <%= f.label :salary, t('wpcc.details.salary.label'), class: 'form__label-heading' %>
          <%= f.text_field :salary %>

          <%= f.label :frequency, t('wpcc.details.salary.frequency.label'), class: 'form__label-heading' %>
          <%= f.select(:frequency, options_for_select([[t('wpcc.details.salary.frequency.year')], [t('wpcc.details.salary.frequency.month')], [t('wpcc.details.salary.frequency.fourweeks')], [t('wpcc.details.salary.frequency.week')]])) %>
        </div>
      </div>

      <div class="details__helper">
        <p><%= t('wpcc.details.salary.tooltip') %></p>
      </div>
    </div>

    <div class="details__row">
      <div class="details__calculate">
        <fieldset>
          <legend class="calculate__heading"><%= t('wpcc.details.calculate.legend') %></legend>
          <p class="calculate__intro"><%= t('wpcc.details.calculate.details') %></p>

          <div class="details__field">
            <%= f.radio_button(:calculate, 'minimum') %>
            <%= f.label(:calculate_minimum, t('wpcc.details.calculate.minimum')) %>
          </div>

          <div class="details__field">
            <%= f.radio_button(:calculate, 'full') %>
            <%= f.label(:calculate_full, t('wpcc.details.calculate.full')) %>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="details__row">
      <div class="details__field">
        <div class="form__row">
          <%= f.submit(t('wpcc.details.next'), class: 'button button--primary') %>
        </div>
      </div>
    </div>
  </section>
<% end %>
