<%= form_tag(validate_details_path, remote: true) do %>
    <section class="details">
        <h2 class="details__heading"><%= t('wpcc.details.title') %></h2>

        <div class="form__row">
            <div class="details__field">
                <%= label_tag :age, t('wpcc.details.age.label'), class: 'form__label-heading' %>
                <%= text_field_tag :age %>
            </div>

            <div class="details__helper">
                <p><%= t('wpcc.details.age.tooltip') %></p>
            </div>
        </div>

        <div class="form__row">
            <div class="details__field">
                <%= label_tag :gender, t('wpcc.details.gender.label'), class: 'form__label-heading' %>
                <%= select_tag(:gender, options_for_select([['Plese choose']])) %>
            </div>

            <div class="details__helper">
                <p><%= t('wpcc.details.gender.tooltip') %></p>
            </div>
        </div>

        <div class="form__row">
            <div class="details__field">
                <%= label_tag :salary, t('wpcc.details.salary.label'), class: 'form__label-heading' %>
                <%= text_field_tag :salary %>

                <%= label_tag :frequency, t('wpcc.details.salary.frequency.label'), class: 'form__label-heading' %>
                <%= select_tag(:frequency, options_for_select([[t('wpcc.details.salary.frequency.year')], [t('wpcc.details.salary.frequency.month')], [t('wpcc.details.salary.frequency.fourweeks')], [t('wpcc.details.salary.frequency.week')]])) %>
            </div>

            <div class="details__helper">
                <p><%= t('wpcc.details.salary.tooltip') %></p>
            </div>
        </div>

        <div class="form__row">
            <fieldset>
                <legend><%= t('wpcc.details.calculate.legend') %></legend>
                <p><%= t('wpcc.details.calculate.details') %></p>

                <%= radio_button_tag(:calculate, 'minimum') %>
                <%= label_tag(:calculate_minimum, t('wpcc.details.calculate.minimum')) %>

                <%= radio_button_tag(:calculate, 'full') %>
                <%= label_tag(:calculate_full, t('wpcc.details.calculate.full')) %>
            </fieldset>
        </div>

        <div class="form__row">
            <%= submit_tag(t('wpcc.details.next')) %>
        </div>
    </section>
<% end %>
